// Specific CSS for your home-page
h2 {
  display: flex;
  justify-content: center;
  margin: 24px;
}

#intro_text {
  font-size: 25px;
  padding: 10px;
  margin: 17px 20px 0px 20px;
  border-color: white;
  text-align: center;
  color: white;
  background-color: #1f4068;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.3);
}