<div class="cards">
  <ul>
    <% @bookings.each do |booking| %>
      <li> <%= booking.car.make %> - <%= booking.car.model %> - <%= link_to "your booking", car_booking_path(booking.car_id, booking) %></li>
    <% end %>
  </ul>
</div>
