<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 offset-sm-4">
      <div class="form">
        <h1>Make your Booking</h1>
        <%= @car.make %>
        <%= @car.model %>
        <%= render "form", car: @car, booking: @booking %>
      </div>
    </div>
  </div>
</div>
