<div>
  <h2>What would you like to do?</h2>
</div>

<div class="cards-f">
  <%= link_to cars_path do %>
    <div id="home-card" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.netdirector.co.uk/gforces-auto/image/upload/w_661,h_441,dpr_2.0,q_auto,c_fill,f_auto,fl_lossy/auto-client/49a5767bf0cdd9b5a98bed6a843fceb8/grancabrio_sport_black.jpg)">
      View our cars
    </div>
  <% end %>

  <%= link_to root_path do %>
    <div id="home-card" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.topgear.com/sites/default/files/styles/fit_1960x1102/public/images/news-article/carousel/2019/03/404ac6aca3ceb671e92f73b66ee4ddc8/aventador_svj_roadster_front_dynamic_02.jpg?itok=IpYo4XMM)">
      List your car
    </div>
  <% end %>
</div>